[build]
publish = "dist/"
command = "bash ./build.sh"

[build.environment]
NODE_VERSION = "18.12.1"
# `--force` flag is required because of pug@3 conflicting with pug-loader peer dependency.
# pug@3 works fine in practice.
NPM_FLAGS = "--force"
RUST_VERSION = "1.71.1"

# Set up redirects from all aux domains to the canonical one.
[[redirects]]
from = "https://ed25519.wtf/*"
to = "https://quirks.ed25519.info/:splat"
status = 301
force = true

[[redirects]]
from = "https://ed25519-quirks.info/*"
to = "https://quirks.ed25519.info/:splat"
status = 301
force = true

[[redirects]]
from = "https://ed25519quirks.info/*"
to = "https://quirks.ed25519.info/:splat"
status = 301
force = true

[[redirects]]
from = "https://ed25519-quirks.com/*"
to = "https://quirks.ed25519.info/:splat"
status = 301
force = true

[[redirects]]
from = "https://ed25519quirks.com/*"
to = "https://quirks.ed25519.info/:splat"
status = 301
force = true
