extends _layout

block pageInit
  -
    entryPoint = 'wildcards';
    basePath = '..';
    pages = $pages;

block main
  p.lead.mb-4.
    One of the counter-intuitive feats of Ed25519 is that there are signatures matching any
    given message (or at least, a non-trivial fraction of messages, say, 1/8).

  p.
    This result doesn’t break Ed25519: the signatures are valid under a specifically generated public key,
    which cannot be obtained with valid key generation. Still, it looks <em>fascinating</em>.
  p.
    To obtain “wildcard” signatures, let’s first take the identity point as the public key: <code>A = O</code>.
    The verification equation
  +equation
    | [s]B = R + [H(R ‖ A ‖ M)]A
  p.
    loses the second term on the right-hand side; no matter the value of the hash scalar <code>H(R ‖ A ‖ M)</code>,
    when multiplied by the identity, it yields <code>O</code>. The equation transforms into <code>[s]B = R</code>;
    thus, signature <code>([s]B, s)</code> for any possible scalar <code>s</code> is a valid signature
    for <em>any</em> message under public key <code>O</code>.

  h3 Torsion Points

  p.
    The identity point has conspicuous serialization <code>0x0100…00</code>. Not to fear; there are other public keys
    that lead to almost the same result. These 8 points form the <em>torsion subgroup</em>
    on the Ed25519 elliptic curve <code>G<sub>tors</sub></code>;
    for any such point <code>E</code>, <code>[8]E = O</code>. The torsion group is isomorphic to integers modulo 8,
    i.e., we can select a group generator <code>E<sub>1</sub></code>, such that the group is
  +equation
    | G<sub>tors</sub> = {
    | O, E<sub>1</sub>, E<sub>2</sub> ≡ [2]E<sub>1</sub>, …, E<sub>7</sub> ≡ [7]E<sub>1</sub>
    | }.

  p.
    For any public key <code>A</code> in <code>G<sub>tors</sub></code>, with probability
    at least 1/8 over message space, the hash scalar <code>H([s]B ‖ A ‖ M)</code> is divisible
    by the point order (1, 2, 4 or 8). In this case, signature <code>([s]B, s)</code> will still be valid.

  #app
    +loading
