code {
  color: #6c7596;
}

.body-header {
  padding: 1rem 1rem 0;
  background: #f4f4f4;
  border-bottom: 1px solid #eee;
}

.body-header h1 a,
.body-header h1 a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.body-header .nav-item {
  border-bottom: 2px solid transparent;
}

.body-header .nav-item.active {
  border-bottom: 2px solid;
}

.page-footer {
  margin: 4rem -0.5rem 0 -0.5rem;
  padding: 2rem 0 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.equation {
  padding: 1rem;
  border: 1px solid var(--bs-secondary);
  border-radius: .25rem;
  border-left-width: .25rem;
}

.code-container {
  margin: 0;
  padding: 0 0.75rem 0.25rem;
}
.code-container > code {
  padding: 0 !important;
}
.page-nav a {
  text-decoration: none;
}
