@use "sass:color";

// Override Bootstrap vars (needs to happen before the main SCSS is loaded).
$code-color: #6c7596;

@import "~bootstrap/scss/bootstrap";

// Fix vertical alignment of icons.
i[class^="bi-"]:before, i[class*=" bi-"]:before {
  vertical-align: -0.125em;
}

.body-header {
  padding: 1rem 1rem 0;
  background: #f4f4f4;
  border-bottom: 1px solid #eee;

  .nav-item {
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid;
    }
  }
}

.page-footer {
  margin: 4rem -0.5rem 0 -0.5rem;
  padding: 2rem 0 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.equation {
  padding: 1rem;
  border: 1px solid var(--bs-secondary);
  border-radius: .25rem;
  border-left-width: .25rem;
}

.code-container {
  margin: 0;
  padding: 0 0.75rem 0.25rem;

  & > code {
    padding: 0 !important;
  }
}

.page-nav a {
  text-decoration: none; // TODO: is this needed?
}
